{% extends 'base.html' %}
{% block content %}

<h1>Com enviar articles i escrits</h1>
<hr>
<h2>Puc enviar un article a Distorsió sense ser-ne membre?</h2>
<p>Sí! Ens agrada molt rebre col·laboracions externes.</p>
<h2>L’article ha de tractar sobre algun tema específic?</h2>
<p>Distorsió és una revista creada en l’àmbit de les telecomunicacions, però un article no ha de tractar forçosament sobre aquest tema. Un article pot tractar sobre el campus o la vida universitària, però això no és oblitagori, també pot tractar de cinema, llibres, videojocs…</p>
<p>Qualsevol cosa enginyosa i divertida és benvinguda, fins i tot històries.</p>
<p>La nostra recomanació es que facis un cop d’ull a una Distorsió per agafar idees.</p>
<h2>Quant ocupa un article d’una pàgina?</h2>
<p>Un article de pàgina sencera sol ocupar unes 1000 paraules, comptant que també tingui una imatge.</p>
<h2>Què faig una vegada he enviat el meu article?</h2>
<p>Una vegada enviat l’article toca la part de maquetació. Aquesta és una feina que podem fer nosaltres, però sempre pots passar-te pel nostre despatx si te’n vols encarregar tu. No t’ha d’espantar no tenir experiència prèvia maquetant, nosaltres t’ajudarem!</p>
<h2>D’acord, com us faig arribar l’article?</h2>
<p>Visita el nostre apartat de “Contacte” per saber-ho.</p>
<h2>Doncs encara tinc dubtes.</h2>
<p>Aleshores contacta amb nosaltres a través del correu electrònic o les nostres xarxes socials. També pots venir al nostre despatx, estarem encantats d’ajudar.</p>

{% endblock %}