{% extends 'base.html' %}

{% block precontent %}
    <img src="{{ object.cover.url }}" class="w-100 pb-5">
{% endblock %}

{% block content %}

      <article class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
        <h3 class="blog-post-subtitle">{{ object.subtitle }}</h3>
        <p class="blog-post-meta">
          Creat el {{ object.published_date }} per <a href="#">{{ object.author.username }}</a><br>
          Última modificació el {{ object.last_edit_date }} per <a href="#">{{ object.author.username }}</a>
        </p>
        <div class="blog-post-content">
          {{ object.content|safe }}
        </div>
      </article>


{% endblock %}