{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block precontent %}
  <h1>Bocamolls</h1>
  <p>
    Un bocamoll és una frase divertida que ha dit un professor. Amb cada número de Distorsió publiquem una recopilació de
    les millors frases de professors que ens fan arribar els estudiants. Ens pots fer arribar bocamolls a travès de Twitter,
    Facebook, WhatsApp o el nostre correu electrònic, els trobaràs a l’apartat “Contacte”, dintre de “Informació” a la
    barra superior. D’altra banda, també ens pots fer arribar bocamolls a través d’aquesta pàgina, al requadre inferior.
  </p>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body pb-0">
    <form method="get">
      <div class="row">
      {% for field in filter.form %}
        <div class="col">
          {{ field|as_crispy_field }}
        </div>

      {% endfor %}
        <div class="col">
          <button class="btn btn-outline-secondary w-100" type="submit">Filtra</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
{% for bocamoll in object_list %}
  <div class="col">
    <!-- Begin Cascade Post card -->
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">{{ bocamoll.subject }}</strong>
        <h3 class="mb-3">{{ bocamoll.text }}</h3>
        <div class="mb-1 text-muted">{{ bocamoll.professor }} el {{ bocamoll.date }}</div>
      </div>
    </div>
    <!-- End Begin Cascade Post card -->
    </div>
  {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row">
  {% endif %}
{% endfor %}
</div>

<div class="paginator">
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="paginator-text" href="?page=1">Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}"> ☚ </a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a href="?page={{ num }}" class="current-page"> {{ num }} </a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"> ☛ </a>
      <a class="paginator-text" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
  {% endif %}
</div>
{% endblock %}