asgiref==3.4.1
beautifulsoup4==4.10.0
crispy-bootstrap5==0.6
Django==4.0
django-bootstrap5==21.3
django-crispy-forms==1.13.0
django-environ==0.8.1
django-filter==21.1
Pillow==8.4.0
soupsieve==2.3.1
sqlparse==0.4.2
